---
title: Articles
permalink: /articles/
---

<style>
  body {
    background: #2d2d2d;
  }
  button {
    background: #424242;
    font-size: calc(1rem + 1vw);
    font-family: 'samsung', sans-serif;
    border: ridge red;
    border-radius: 5px;
    outline: black;
    cursor: pointer;
    color: white;
    height: 200px;
    width: 80%;

  }
  .centered {
    text-align: center;
  }
</style>

<h1>Articles</h1>

<ul>
  {% for article in collections.articles %}
    <li><a href="{{ article.url }}">{{ article.fileSlug }}</a></li>
  {% endfor %}
</ul>
