<!DOCTYPE html>
<html>
<head>
  <title>Article Listings</title>
</head>
<body>
  <h1>Latest Articles</h1>

  <ul>
    {% for article in collections.articles | slice(0, 3) %}
      <li>
        <a href="{{ article.url }}">{{ article.fileSlug }}</a>
      </li>
    {% endfor %}
  </ul>
</body>
</html>
